using System;
using System.Collections.Generic;
using System.Linq;
using Microsoft.EntityFrameworkCore;
using Moq;
using ScientificReport.BLL.Services;
using ScientificReport.DAL.DbContext;
using ScientificReport.DAL.Entities;
using Xunit;

namespace ScientificReport.Test.ServicesTests
{
	public class {{ entity }}ServiceTests
	{
		private readonly Mock<ScientificReportDbContext> _mockContext = GetMockContext();

		private static IEnumerable<{{ entity }}> GetTestData()
		{
			return new[]
			{
				TestData.{{ entity }}1,
				TestData.{{ entity }}2,
				TestData.{{ entity }}3
			};
		}

		private static Mock<ScientificReportDbContext> GetMockContext()
		{
			var list = GetTestData().AsQueryable();
			var mockContext = new Mock<ScientificReportDbContext>();
			mockContext.Setup(item => item.{{ entity }}s).Returns(MockProvider.GetMockSet(list).Object);
			return mockContext;
		}

		[Fact]
		public void GetAllTest()
		{
			var list = GetTestData().AsQueryable();

			var mockContext = new Mock<ScientificReportDbContext>();
			mockContext.Setup(item => item.{{ entity }}s).Returns(MockProvider.GetMockSet(list).Object);

			var service = new {{ entity }}Service(mockContext.Object);

			var actual = service.GetAll();

			Assert.Equal(list.Count(), actual.Count());
		}

		[Fact]
		public void GetAllWhereTest()
		{
			var service = new {{ entity }}Service(_mockContext.Object);
			var actual = service.GetAllWhere(u => u.Id.Equals(TestData.{{ entity }}1.Id));
			Assert.Single(actual);
		}

		[Fact]
		public void GetByIdTest()
		{
			var expected = GetTestData().First();

			var service = new Mock<{{ entity }}Service>(_mockContext.Object);

			service.Object.CreateItem(expected);

			service.Setup(item => item.GetById(expected.Id));
			service.Object.GetById(expected.Id);
			service.Verify(item => item.GetById(expected.Id));
		}

		[Fact]
		public void CreateItemTest()
		{
			var service = new Mock<{{ entity }}Service>(_mockContext.Object);

			var expected{{ entity }} = TestData.{{ entity }}1;

			service.Setup(it => it.CreateItem(expected{{ entity }}));
			service.Object.CreateItem(expected{{ entity }});
			service.Verify(it => it.CreateItem(expected{{ entity }}), Times.Once);
		}

		[Fact]
		public void UpdateItemTest()
		{
			var mockDbSet = new Mock<DbSet<{{ entity }}>>();
			var mockContext = new Mock<ScientificReportDbContext>();

			mockContext.Setup(item => item.{{ entity }}s).Returns(mockDbSet.Object);

			var service = new {{ entity }}Service(mockContext.Object);

			var {{ entity_var }} = GetTestData().First();

			service.CreateItem({{ entity_var }});
			service.UpdateItem({{ entity_var }});

			mockDbSet.Verify(m => m.Update(It.IsAny<{{ entity }}>()), Times.Once());
		}

		[Fact]
		public void DeleteItemTest()
		{
			var service = new Mock<{{ entity }}Service>(_mockContext.Object);

			var {{ entity_var }} = GetTestData().First();

			service.Setup(x => x.DeleteById({{ entity_var }}.Id));
			service.Object.DeleteById({{ entity_var }}.Id);
			service.Verify(i => i.DeleteById({{ entity_var }}.Id));
		}

		[Fact]
		public void ExistsTest()
		{
			var service = new Mock<{{ entity }}Service>(_mockContext.Object);

			var {{ entity_var }} = GetTestData().First();
			service.Object.CreateItem({{ entity_var }});

			service.Setup(a => a.Exists({{ entity_var }}.Id));
			service.Object.Exists({{ entity_var }}.Id);
			service.Verify(a => a.Exists({{ entity_var }}.Id));
		}

		[Fact]
		public void DoesNotExistTest()
		{
			var service = new Mock<{{ entity }}Service>(_mockContext.Object);

			var guid = Guid.NewGuid();
			service.Setup(a => a.Exists(guid));
			service.Object.Exists(guid);
			service.Verify(a => a.Exists(guid));
		}
	}
}
