@model ScientificReport.DAL.Entities.ScientificConsultation

@{
    ViewData["Title"] = "Create";
}

<h3>Create</h3>

<h5>ScientificConsultation</h5>
<hr />
<div class="row">
    <div class="col s12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="validate"></div>
            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="CandidateName" type="text" class="validate">
                    <label asp-for="CandidateName"></label>
                    <span class="helper-text" asp-validation-for="CandidateName" data-error="" data-success=""></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="DissertationTitle" type="text" class="validate">
                    <label asp-for="DissertationTitle"></label>
                    <span class="helper-text" asp-validation-for="DissertationTitle" data-error="" data-success=""></span>
                </div>
            </div>
            <div class="row myButtons">
                <input type="submit" value="Create" class="waves-effect btn-small  amber accent-2"/>
                <a asp-action="Index" class="btn-small blue darken-3">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
