@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Access denied"];
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@Localizer["Unable to load this page because of the lack of user permissions"].</p>
</header>
