<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"] - ScientificReport</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection"/>

	<environment include="Development">
		@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/> *@
		@* <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" *@
		@*       integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" *@
		@*       crossorigin="anonymous"/> *@
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection"/>

	</environment>
	<environment exclude="Development">
		@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" *@
		@*       asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" *@
		@*       asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" *@
		@*       crossorigin="anonymous" *@
		@*       integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/> *@
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
	</environment>
	<link rel="stylesheet" href="~/css/site.css"/>
	<link rel="stylesheet" href="~/css/hrStyles.css"/>
	<link rel="stylesheet" href="~/css/inputsStyle.css"/>
	<style>
		
		html, body { height: 100%; }

		body {
			display: flex;
			flex-direction: column;
		}

		.mylogo {
			width: 50px;
			height: 50px;
			margin-top: 5px;
			margin-right: 10px;
			margin-left: 10px;
			-ms-border-radius: 50%;
			border-radius: 50%;
		}

		#dropdown1 {
			position: absolute;
			top: -48px;
			height: auto;
		}

		.dropdown-content li { min-height: 32px; }

		.dropdown-content li > a {
			font-size: 15px;
			color: black;
			padding: 5px 9px;
			cursor: pointer;
		}

		footer {
			padding-top: 10px;
			margin-top: 20px;
			-o-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			flex-shrink: 0;
			font-size: 20px;
			font-family: 'Roboto', sans-serif;
		}

		.content {
			-webkit-flex: 1 0 auto;
			-ms-flex: 1 0 auto;
			-o-flex: 1 0 auto;
			flex: 1 0 auto;
		}
	</style>
</head>
<body>
<header>
	<ul id="dropdown1" style="color: black;" class="dropdown-content">
		<li style="font-size: 5px; -o-justify-content: center; -webkit-justify-content: center; justify-content: center">
			<a asp-area="" asp-controller="ApplicantsPatentLicenseActivities" asp-action="Index">Applicants Patent License Activities</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Article" asp-action="Index">Article</a>
		</li>
		<li>
			<a asp-area="" asp-controller="AuthorsPatentLicenseActivities" asp-action="Index">Authors Patent License Activities</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Conference" asp-action="Index">Conference</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Grant" asp-action="Index">Grant</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Membership" asp-action="Index">Membership</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Opposition" asp-action="Index">Opposition</a>
		</li>
		<li>
			<a asp-area="" asp-controller="PatentLicenseActivity" asp-action="Index">Patent License Activity</a>
		</li>
		<li>
			<a asp-area="" asp-controller="PostgraduateDissertationGuidance" asp-action="Index">Postgraduate Dissertation Guidance</a>
		</li>
		<li>
			<a asp-area="" asp-controller="PostgraduateGuidance" asp-action="Index">Postgraduate Guidance</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Publication" asp-action="Index">Publication</a>
		</li>
		<li>
			<a asp-area="" asp-controller="ReportThesis" asp-action="Index">Report Thesis</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Review" asp-action="Index">Review</a>
		</li>
		<li>
			<a asp-area="" asp-controller="ScientificConsultation" asp-action="Index">Scientific Consultation</a>
		</li>
		<li>
			<a asp-area="" asp-controller="ScientificInternship" asp-action="Index">Scientific Internship</a>
		</li>

	</ul>
	<nav>
		<div class="nav-wrapper light-blue darken-4">
			<partial name="_LoginPartial"/>
			<a class="left" asp-area="" asp-controller="Home" asp-action="Index">
				<img class="mylogo" src="~/css/mathlogo.png" alt="Main"/>
			</a>
			<ul class="left hide-on-med-and-down">
				<li>
					<a asp-area="" asp-controller="TeacherReport" asp-action="Index">Teacher Reports</a>
				</li>
				<li>
					<a asp-area="" asp-controller="ScientificWork" asp-action="Index">Scientific Works</a>
				</li>
				<li>
					<a asp-area="" asp-controller="UserProfile" asp-action="Index">User Profiles</a>
				</li>
				<li>
					<a asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
				</li>
				<li>
					<a class="dropdown-trigger" data-target="dropdown1">Available pages<i class="material-icons right">arrow_drop_down</i></a>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div class="container content">
	@* <partial name="_CookieConsentPartial"/> *@
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>


<footer class="blue darken-1" style="height: 50px;">

	<div class="container">
		<span style="color: white;">&copy; 2019 - ScientificReport -</span>
		<a asp-area="" asp-controller="Home" asp-action="Privacy" style="text-decoration: none; color: darkblue;">Privacy</a>
	</div>

</footer>

<environment include="Development">
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="~/js/materialize.min.js"></script>
</environment>
<environment exclude="Development">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
	        asp-fallback-test="window.jQuery"
	        crossorigin="anonymous"
	        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
	        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
	        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
	        crossorigin="anonymous"
	        integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
	</script>
</environment>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/materialize.min.js"></script>
<script> $(".dropdown-trigger").dropdown(); </script>
<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

@RenderSection("Scripts", required: false)
</body>
</html>