@model ScientificReport.DAL.Entities.Membership


<div class="bg-primary m-1 p-1 text-white"><h4>Edit membership</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="MemberOf" class="control-label"></label>
		<select asp-for="MemberOf" style="width: 90%">
			<option value="ScientificCouncil">Вчена рада</option>
			<option value="ExpertCouncil">Експертна рада</option>
			<option value="EditorialBoard">Редколегія наукового журналу</option>
		</select>
		<span asp-validation-for="MembershipInfo" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="MembershipInfo" class="control-label"></label>
		<input asp-for="MembershipInfo" class="form-control" />
		<span asp-validation-for="MembershipInfo" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="Save" class="btn btn-primary" />
	</div>
</form>