.mylogo {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

html, body { height: 100%; }

body {
	display: flex;
	flex-direction: column;
}

.mylogo {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

#dropdown1, #reports-dropdown {
	position: absolute;
	top: -48px;
	height: auto;
}

.dropdown-content li { min-height: 32px; }

.dropdown-content li > a {
	font-size: 15px;
	color: black;
	padding: 5px 9px;
	cursor: pointer;
}

footer {
	padding-top: 7px;
	margin-top: 20px;
	-o-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	height: 50px;
}

.content {
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	-o-flex: 1 0 auto;
	flex: 1 0 auto;
}

.text-green { color: rgb(0, 179, 0); }
.text-red { color: rgb(177, 0, 0); }
.hidden { display: none; }


@media only screen and (max-width: 550px) {

	[class*="resp"] {
		line-height: 12px;
		font-size: 11px;
	}

	[class*="s11"] {
		width: 50%;
	}

	label {
		font-size: 10px !important;
	}

	a.btn-small, button[type="submit"], input.input-field {
		font-size: 10px;
	}

	button[type='submit'].waves-light {
		width: 62px;
	}

}