@model ScientificReport.DAL.Entities.ReportThesis

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReportThesis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Thesis" class="control-label"></label>
                <input asp-for="Thesis" class="form-control" />
                <span asp-validation-for="Thesis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="waves-effect btn-small green darken-3"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn-small blue darken-3">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
