@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.ReportThesis
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Add report thesis"];
}

<h5>@ViewData["Title"]</h5>
<hr/>
<div class="row">
    <div class="col s12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="validate"></div>
          
            <div class="row">
                <div class="input-field col s7">
                    <input asp-for="Thesis" type="text" class="validate">
                    <label asp-for="Thesis">@Localizer["Thesis"]</label>
                    <span class="helper-text" asp-validation-for="Thesis" data-error="" data-success=""></span>
                </div>
            </div>
         
            <div class="row myButtons">
                <button type="submit" class="waves-effect btn-small accent-2">@Localizer["Create"]</button>
                <a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
