@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DTO.Models.Grant.GrantEditModel
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Edit grant"];
}

<h4>@Localizer["Edit grant"]</h4>
<hr />
<div class="row">
	<div class="col s12">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<input type="hidden" asp-for="Id" />
			<div class="row myButtons">
				<button type="submit" class="waves-effect btn-small accent-2">@Localizer["Save"]</button>
				<a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
