@model ScientificReport.Views.TeacherReport.PrintPostgraduateGuidance
@{
    Layout = null;
}

<li class="postgraduateGuidance-item">Здійснюю наукове керівництво @Model.PostgraduateGuidance.PostgraduateInfo  @Model.PostgraduateGuidance.PostgraduateName.</li>
