@model ScientificReport.Views.TeacherReport.PrintScientificConsultation
@{
    Layout = null;
}

<li class="scientificConsultation-item">Здійснюю наукове консультування при написанні докторської дисертації на тему "@Model.ScientificConsultation.DissertationTitle" @Model.ScientificConsultation.CandidateName.</li>
