@model ScientificReport.Views.TeacherReport.PrintPostgraduateDissertationGuidance
@{
    Layout = null;
}

<li class="postgraduateDissertationGuidance-item">Здійснюю наукове керівництво при написанні кандидатської дисертації на тему "@Model.PostgraduateDissertationGuidance.Dissertation" @Model.PostgraduateDissertationGuidance.PostgraduateName.</li>
