@model ScientificReport.Views.TeacherReport.PrintPostgraduateDissertationGuidance
@{
    Layout = null;
}

<li class="postgraduateDissertationGuidance-item">@Model.PostgraduateDissertationGuidance</li>
