@model ScientificReport.DAL.Entities.Reports.TeacherReport

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Report</h4>
<hr />
<div class="row">
	<div class="col s12">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<input type="hidden" asp-for="Id" />
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="Created" type="date" class="validate">
					<label asp-for="Created"></label>
					<span class="helper-text" asp-validation-for="Created" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<input type="submit" value="Create" class="waves-effect btn-small  amber accent-2"/>
				<a asp-action="Index" class="btn-small blue darken-3">Cancel</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
