@using System.Linq
@model ScientificReport.DTO.Models.Department.DepartmentCreateModel

@{
	ViewBag.Title = "Create department";
	Layout = "_Layout";
}


<h1>Create department</h1>
<h4>Create new department. Department will be created only if it does not exist.</h4>
<hr/>
<div class="row">
	<div class="col s12">
		<form asp-action="Create" method="post">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="Title" type="text" class="validate">
					<label asp-for="Title">Applicant Id</label>
					<span class="helper-text" asp-validation-for="Title" data-error="some data is in bad format" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<label asp-for="SelectedHeadId"></label>
				<div class="col s10">
					@Html.DropDownListFor(x => Model.SelectedHeadId, new SelectList(Model.UserSelection, "Value", "Text"), new {@class = "col s6 push-s6"})
					@Html.ValidationMessageFor(x => x.SelectedHeadId, "", new {@class = "validate"})

				</div>
			</div>

			<div class="row">
				<input type="submit" value="Create" class="waves-effect btn-small  amber accent-2"/>
				<a asp-action="Index" class="btn-small blue darken-3">Cancel</a>
			</div>
		</form>
	</div>
</div>


@section Scripts { 
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>
}
