@model ScientificReport.DAL.Entities.PatentLicenseActivity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PatentLicenseActivity</h4>
<hr />
<div class="row">
    <div class="col s12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="validate"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="Name" type="text" class="validate">
                    <label asp-for="Name"></label>
                    <span class="helper-text" asp-validation-for="Name" 
                          data-error="" data-success=""></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="Number" type="number" class="validate">
                    <label asp-for="Number"></label>
                    <span class="helper-text" asp-validation-for="Name" 
                          data-error="" data-success=""></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="DateTime" type="date" class="validate"/>
                    <label asp-for="DateTime"></label>
                    <span class="helper-text" asp-validation-for="DateTime" 
                          data-error="" data-success=""></span>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <select asp-for="Type" class="col s12 push-s2">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Patent">Patent</option>
                        <option value="Application">Application</option>
                    </select>
                    <label asp-for="Type">Type</label>
                </div>
            </div>
	
            <div class="row">
                <input type="submit" value="Save" class="waves-effect btn-small  amber accent-2"/>
                <a asp-action="Index" class="btn-small blue darken-3">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').formSelect();
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
