@model ScientificReport.DTO.Models.UserProfile.ChangePasswordModel

@{
	ViewBag.Title = "Change password";
	Layout = "_Layout";
}
<style>
	input[type="submit"] {
		color: white !important;
	}
</style>

<div asp-validation-summary="All" class="text-danger validation-summary-valid"></div>
<h4>Change password</h4>
<hr/>
<form asp-action="ChangePassword" method="post">
	<div asp-validation-summary="ModelOnly" class="validate"></div>
	<input asp-for="Id" type="hidden">
	<div class="row">
		<div class="input-field col s6">
			<input asp-for="OldPassword" class="validate">
			<label asp-for="OldPassword"></label>
			<span class="helper-text" asp-validation-for="OldPassword" data-error="" data-success=""></span>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input asp-for="NewPassword" class="validate">
			<label asp-for="NewPassword"></label>
			<span class="helper-text" asp-validation-for="NewPassword" data-error="" data-success=""></span>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input asp-for="NewPasswordRepeat" class="validate">
			<label asp-for="NewPasswordRepeat"></label>
			<span class="helper-text" asp-validation-for="NewPasswordRepeat" data-error="" data-success=""></span>
		</div>
	</div>
	
	<div class="row">
		<input type="submit" value="Save" class="waves-effect btn-small  waves-light"/>
		<a asp-action="Index" class="btn-small blue darken-3">Cancel</a>
	</div>
	
</form>
