@model ScientificReport.DTO.Models.UserProfile.RegisterModel

@{
	ViewBag.Title = "Register";
	Layout = "_Layout";
}

<style>
	input[type="submit"] { color: white !important; }
</style>

<h1>Register</h1>
<h4>Create a new account.</h4>
<hr/>

<div class="row">
	<div class="col s12">
		<form asp-action="Register" method="post">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<div class="row">
				<div class="input-field col s4">
					<input asp-for="FirstName" type="text" class="validate">
					<label asp-for="FirstName"></label>
					<span class="helper-text" asp-validation-for="FirstName" data-error="" data-success=""></span>
				</div>
			
				<div class="input-field col s4">
					<input asp-for="MiddleName" type="text" class="validate">
					<label asp-for="MiddleName"></label>
					<span class="helper-text" asp-validation-for="MiddleName" data-error="" data-success=""></span>
				</div>
			
				<div class="input-field col s4">
					<input asp-for="LastName" type="text" class="validate">
					<label asp-for="LastName"></label>
					<span class="helper-text" asp-validation-for="LastName" data-error="" data-success=""></span>
				</div>
			
				<div class="input-field col s8">
					<input asp-for="PhoneNumber" type="text" class="validate">
					<label asp-for="PhoneNumber"></label>
					<span class="helper-text" asp-validation-for="PhoneNumber" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<input asp-for="BirthYear" type="number" class="validate">
					<label asp-for="BirthYear"></label>
					<span class="helper-text" asp-validation-for="BirthYear" data-error="" data-success=""></span>
				</div>
		
				<div class="input-field col s4">
					<input asp-for="GraduationYear" type="number" class="validate">
					<label asp-for="GraduationYear"></label>
					<span class="helper-text" asp-validation-for="GraduationYear" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s8">
					<input asp-for="ScientificDegree" type="text" class="validate">
					<label asp-for="ScientificDegree"></label>
					<span class="helper-text" asp-validation-for="ScientificDegree" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<input asp-for="YearDegreeAssigned" type="number" class="validate">
					<label asp-for="YearDegreeAssigned"></label>
					<span class="helper-text" asp-validation-for="YearDegreeAssigned" data-error="" data-success=""></span>
				</div>
			
				<div class="input-field col s4">
					<input asp-for="YearDegreeGained" type="number" class="validate">
					<label asp-for="YearDegreeGained"></label>
					<span class="helper-text" asp-validation-for="YearDegreeGained" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s8">
					<input asp-for="AcademicStatus" type="text" class="validate">
					<label asp-for="AcademicStatus"></label>
					<span class="helper-text" asp-validation-for="AcademicStatus" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<input asp-for="UserName" type="text" class="validate">
					<label asp-for="UserName"></label>
					<span class="helper-text" asp-validation-for="UserName" data-error="" data-success=""></span>
				</div>
			
				<div class="input-field col s4">
					<input asp-for="Email" type="email" class="validate">
					<label asp-for="Email"></label>
					<span class="helper-text" asp-validation-for="Email" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<input asp-for="Password" type="password" class="validate">
					<label asp-for="Password"></label>
					<span class="helper-text" asp-validation-for="Password" data-error="" data-success=""></span>
				</div>
		
				<div class="input-field col s4">
					<input asp-for="PasswordRepeat" type="password" class="validate">
					<label asp-for="PasswordRepeat"></label>
					<span class="helper-text" asp-validation-for="PasswordRepeat" data-error="" data-success=""></span>
				</div>
			</div>

			<div class="row">
				<input type="submit" value="Register" class="waves-effect btn-small  waves-light"/>
				<a asp-action="Index" class="btn-small blue darken-3">Cancel</a>
			</div>
		</form>
	</div>
</div>