@model ScientificReport.DAL.Entities.PostgraduateDissertationGuidance

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PostgraduateDissertationGuidance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostgraduateName" class="control-label"></label>
                <input asp-for="PostgraduateName" class="form-control" />
                <span asp-validation-for="PostgraduateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dissertation" class="control-label"></label>
                <input asp-for="Dissertation" class="form-control" />
                <span asp-validation-for="Dissertation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speciality" class="control-label"></label>
                <input asp-for="Speciality" class="form-control" />
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDegreeGained" class="control-label"></label>
                <input asp-for="DateDegreeGained" class="form-control" />
                <span asp-validation-for="DateDegreeGained" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduationYear" class="control-label"></label>
                <input asp-for="GraduationYear" class="form-control" />
                <span asp-validation-for="GraduationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
