@model ScientificReport.DAL.Entities.PostgraduateDissertationGuidance

@{
	ViewData["Title"] = "Edit";
}


<h3>Edit</h3>

<h5>PostgraduateDissertationGuidance</h5>
<hr/>
<div class="row">
	<div class="col s12">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="row">
				<div class="input-field col s5">
					<input asp-for="PostgraduateName" type="text" class="validate">
					<label asp-for="PostgraduateName"></label>
					<span class="helper-text" asp-validation-for="PostgraduateName"
					      data-error="" data-success="">
					</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s5">
					<input asp-for="Dissertation" type="text" class="validate">
					<label asp-for="Dissertation"></label>
					<span class="helper-text" asp-validation-for="Dissertation"
					      data-error="" data-success="">
					</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s5">
					<input asp-for="Speciality" type="text" class="validate"/>
					<label asp-for="Speciality"></label>
					<span class="helper-text" asp-validation-for="Speciality"
					      data-error="" data-success="">
					</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s5">
					<input asp-for="DateDegreeGained" type="date" class="validate"/>
					<label asp-for="DateDegreeGained"></label>
					<span class="helper-text" asp-validation-for="DateDegreeGained"
					      data-error="" data-success="">
					</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s5">
					<input asp-for="GraduationYear" type="number" class="validate"/>
					<label asp-for="GraduationYear"></label>
					<span class="helper-text" asp-validation-for="GraduationYear"
					      data-error="" data-success="">
					</span>
				</div>
			</div>
			<div class="row myButtons">
				<input type="submit" value="Save" class="waves-effect btn-small  amber accent-2"/>
				<a asp-action="Index" class="btn-small blue darken-3">Cancel</a>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}